@using WebApp.Calendar;

@model CalendarViewModel


<table>
    <tr>
        <th>пн</th>
        <th>вт</th>
        <th>ср</th>
        <th>чт</th>
        <th>пт</th>
        <th>сб</th>
        <th>вс</th>
    </tr>
    @{
        int day = 2 - Model.StartWeekDay;
        int daysInMonth = Model.DaysInMonth;
        DateTime today = DateTime.Now.Date;

        for (int row = 0; row < 6; row++)
        {
            <tr>
                @for (int col = 0; col < 7; col++)
                {
                    string cssClass = "";
                    string tooltip = "";

                    if (day > 0 && day <= daysInMonth)
                    {
                        DateTime currentDay = new DateTime(Model.Year, Model.Month, day);

                        bool isWeekend = currentDay.DayOfWeek == DayOfWeek.Saturday || currentDay.DayOfWeek == DayOfWeek.Sunday || Model.ExeptionDays.Any(d => d.ExceptionDate.Date == currentDay.Date && !d.IsWorkingDay);
                        bool isWorkingDay = Model.ExeptionDays.Any(d => d.ExceptionDate.Date == currentDay.Date && d.IsWorkingDay);
                        bool isToday = currentDay.Date == today.Date;

                        var birthdayEmployees = Model.Employees.Where(e => e.Birthday.HasValue && e.Birthday.Value.Month == currentDay.Month && e.Birthday.Value.Day == currentDay.Day).ToList();

                        var eventsCount = Model.Events.Count(e => e.Date.Date == currentDay.Date);

                        if (isWeekend) cssClass = "weekend-day";
                        if (isWorkingDay) cssClass = "";
                        if (isToday) cssClass += " current-day";

                        if (eventsCount > 5) cssClass += " event-red";
                        else if (eventsCount >= 2) cssClass += " event-yellow";
                        else if (eventsCount > 0) cssClass += " event-green";

                        if (birthdayEmployees.Count > 0)
                        {
                            cssClass += " birthday-day";
                            var people = birthdayEmployees.Select(e => e.Surname).ToList();
                            tooltip = $"<div class='birthday-tooltip'>{string.Join("<br />", people)}</div>";
                        }
                    }

                    <td class="@cssClass">
                        @(day > 0 && day <= daysInMonth ? day : "") @Html.Raw(tooltip)
                    </td>

                    day++;
                }
            </tr>
        }
    }
</table>
