USE [Profiki]
GO
/****** Object:  Table [dbo].[AbsenceEvent]    Script Date: 04.01.2025 19:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AbsenceEvent](
	[AbsenceEventId] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [date] NOT NULL,
	[DaysCount] [int] NOT NULL,
	[AbsenceType] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[ReplasementEmployeeId] [int] NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_AbsenceEvent] PRIMARY KEY CLUSTERED 
(
	[AbsenceEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 04.01.2025 19:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[DocumentId] [int] NOT NULL,
	[Text] [nvarchar](300) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_MaterialComment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 04.01.2025 19:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentId] [varchar](20) NOT NULL,
	[ParentDepartmentId] [varchar](20) NULL,
	[Description] [nvarchar](500) NULL,
	[HeadDepartment] [int] NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentEvent]    Script Date: 04.01.2025 19:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentEvent](
	[DapartmentId] [varchar](20) NOT NULL,
	[EventId] [int] NOT NULL,
 CONSTRAINT [PK_DepartmentEvent] PRIMARY KEY CLUSTERED 
(
	[DapartmentId] ASC,
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 04.01.2025 19:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[ConfirmDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](15) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Author] [nvarchar](100) NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 04.01.2025 19:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [varchar](20) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Patronymic] [nvarchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[WorkPhone] [varchar](20) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Cabinet] [nvarchar](50) NOT NULL,
	[PositionId] [int] NOT NULL,
	[DirectManager] [int] NULL,
	[Birthday] [date] NULL,
	[Password] [varchar](20) NOT NULL,
	[DismissalDate] [date] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeEvent]    Script Date: 04.01.2025 19:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeEvent](
	[EmployeeId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
 CONSTRAINT [PK_EmployeeEvent] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC,
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 04.01.2025 19:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[EventNameId] [int] NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[ResponsibleEmployeeId] [int] NULL,
	[Status] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](300) NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventDocument]    Script Date: 04.01.2025 19:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventDocument](
	[DocumentId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
 CONSTRAINT [PK_EventMaterial] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC,
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventName]    Script Date: 04.01.2025 19:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventName](
	[EventNameId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_EventName] PRIMARY KEY CLUSTERED 
(
	[EventNameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 04.01.2025 19:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[PositionId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkingCalendar]    Script Date: 04.01.2025 19:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkingCalendar](
	[WorkingCalendarId] [bigint] NOT NULL,
	[ExceptionDate] [date] NOT NULL,
	[IsWorkingDay] [bit] NOT NULL,
 CONSTRAINT [WorkingCalendar_pk] PRIMARY KEY CLUSTERED 
(
	[WorkingCalendarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сandidate]    Script Date: 04.01.2025 19:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сandidate](
	[CandidateId] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Patronymic] [nvarchar](100) NULL,
	[DesiredPosition] [int] NOT NULL,
	[Resume] [nvarchar](300) NOT NULL,
	[DateReceived] [date] NOT NULL,
 CONSTRAINT [PK_Сandidate] PRIMARY KEY CLUSTERED 
(
	[CandidateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([CommentId], [EmployeeId], [DocumentId], [Text], [CreatedDate], [UpdatedDate]) VALUES (4, 120, 7, N'Плохой документ', CAST(N'2022-12-12T01:01:01.0000000' AS DateTime2), NULL)
INSERT [dbo].[Comment] ([CommentId], [EmployeeId], [DocumentId], [Text], [CreatedDate], [UpdatedDate]) VALUES (5, 120, 17, N'Хороший документ', CAST(N'2022-12-15T17:01:01.0000000' AS DateTime2), NULL)
INSERT [dbo].[Comment] ([CommentId], [EmployeeId], [DocumentId], [Text], [CreatedDate], [UpdatedDate]) VALUES (54, 120, 7, N'какой-то странный документ', CAST(N'2025-01-03T22:06:58.9139791' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
INSERT [dbo].[Department] ([DepartmentId], [ParentDepartmentId], [Description], [HeadDepartment], [Name]) VALUES (N'1', NULL, NULL, NULL, N'Административный департамент')
INSERT [dbo].[Department] ([DepartmentId], [ParentDepartmentId], [Description], [HeadDepartment], [Name]) VALUES (N'1.1', N'1', NULL, NULL, N'Административный департамент')
INSERT [dbo].[Department] ([DepartmentId], [ParentDepartmentId], [Description], [HeadDepartment], [Name]) VALUES (N'1.2', N'1', NULL, NULL, N'Договорной отдел')
GO
SET IDENTITY_INSERT [dbo].[Document] ON 

INSERT [dbo].[Document] ([DocumentId], [Name], [CreateDate], [ConfirmDate], [Status], [Category], [Author]) VALUES (7, N'Пример', CAST(N'2024-12-28T00:00:00.0000000' AS DateTime2), CAST(N'2025-12-29T00:00:00.0000000' AS DateTime2), N'Не архивный', N'1', NULL)
INSERT [dbo].[Document] ([DocumentId], [Name], [CreateDate], [ConfirmDate], [Status], [Category], [Author]) VALUES (17, N'Пример2', CAST(N'2005-12-12T00:00:00.0000000' AS DateTime2), CAST(N'2005-12-12T02:00:00.0000000' AS DateTime2), N'Архивный', N'2', NULL)
INSERT [dbo].[Document] ([DocumentId], [Name], [CreateDate], [ConfirmDate], [Status], [Category], [Author]) VALUES (21, N'С новым годом!', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-01-01T01:00:00.0000000' AS DateTime2), N'Не архивный', N'2', NULL)
SET IDENTITY_INSERT [dbo].[Document] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeId], [DepartmentId], [Surname], [Name], [Patronymic], [Phone], [WorkPhone], [Email], [Cabinet], [PositionId], [DirectManager], [Birthday], [Password], [DismissalDate]) VALUES (1, N'1.1', N'Белоусов', N'Семен', N'Агафонович', NULL, N'+7 (179) 370-26-88', N'белоусов@гкдр.ру', N'402А', 1, NULL, CAST(N'1971-04-25' AS Date), N'Password', NULL)
INSERT [dbo].[Employee] ([EmployeeId], [DepartmentId], [Surname], [Name], [Patronymic], [Phone], [WorkPhone], [Email], [Cabinet], [PositionId], [DirectManager], [Birthday], [Password], [DismissalDate]) VALUES (2, N'1.1', N'Матвеев', N'Вадим', N'Юрьевич', NULL, N'+7 (711) 977-16-52', N'матвеев@гкдр.ру', N'402А', 29, NULL, CAST(N'1989-06-20' AS Date), N'Password', NULL)
INSERT [dbo].[Employee] ([EmployeeId], [DepartmentId], [Surname], [Name], [Patronymic], [Phone], [WorkPhone], [Email], [Cabinet], [PositionId], [DirectManager], [Birthday], [Password], [DismissalDate]) VALUES (3, N'1.2', N'Ермакова', N'Юнона', N'Руслановна', NULL, N'+7 (210) 088-64-36', N'ермакова@гкдр.ру', N'482', 22, NULL, CAST(N'1979-04-14' AS Date), N'Password', NULL)
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([PositionId], [Name]) VALUES (1, N'Административный директор-руководитель аппарата')
INSERT [dbo].[Position] ([PositionId], [Name]) VALUES (2, N'Бухгалтер')
INSERT [dbo].[Position] ([PositionId], [Name]) VALUES (3, N'Бухгалтер по расчету заработной платы')
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
INSERT [dbo].[WorkingCalendar] ([WorkingCalendarId], [ExceptionDate], [IsWorkingDay]) VALUES (1, CAST(N'2024-01-01' AS Date), 0)
INSERT [dbo].[WorkingCalendar] ([WorkingCalendarId], [ExceptionDate], [IsWorkingDay]) VALUES (2, CAST(N'2024-01-02' AS Date), 0)
INSERT [dbo].[WorkingCalendar] ([WorkingCalendarId], [ExceptionDate], [IsWorkingDay]) VALUES (3, CAST(N'2024-01-03' AS Date), 0)
GO
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF_Comment_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AbsenceEvent]  WITH CHECK ADD  CONSTRAINT [FK_AbsenceEvent_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[AbsenceEvent] CHECK CONSTRAINT [FK_AbsenceEvent_Employee]
GO
ALTER TABLE [dbo].[AbsenceEvent]  WITH CHECK ADD  CONSTRAINT [FK_AbsenceEvent_Employee1] FOREIGN KEY([ReplasementEmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[AbsenceEvent] CHECK CONSTRAINT [FK_AbsenceEvent_Employee1]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_MaterialComment_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_MaterialComment_Employee]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_MaterialComment_Material] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Document] ([DocumentId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_MaterialComment_Material]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Department] FOREIGN KEY([ParentDepartmentId])
REFERENCES [dbo].[Department] ([DepartmentId])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Department]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Employee] FOREIGN KEY([HeadDepartment])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Employee]
GO
ALTER TABLE [dbo].[DepartmentEvent]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentEvent_Department] FOREIGN KEY([DapartmentId])
REFERENCES [dbo].[Department] ([DepartmentId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DepartmentEvent] CHECK CONSTRAINT [FK_DepartmentEvent_Department]
GO
ALTER TABLE [dbo].[DepartmentEvent]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentEvent_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DepartmentEvent] CHECK CONSTRAINT [FK_DepartmentEvent_Event]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([DepartmentId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Employee] FOREIGN KEY([DirectManager])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Employee]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Position] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([PositionId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Position]
GO
ALTER TABLE [dbo].[EmployeeEvent]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeEvent_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EmployeeEvent] CHECK CONSTRAINT [FK_EmployeeEvent_Employee]
GO
ALTER TABLE [dbo].[EmployeeEvent]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeEvent_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EmployeeEvent] CHECK CONSTRAINT [FK_EmployeeEvent_Event]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Employee] FOREIGN KEY([ResponsibleEmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Employee]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_EventName] FOREIGN KEY([EventNameId])
REFERENCES [dbo].[EventName] ([EventNameId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_EventName]
GO
ALTER TABLE [dbo].[EventDocument]  WITH CHECK ADD  CONSTRAINT [FK_EventMaterial_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EventDocument] CHECK CONSTRAINT [FK_EventMaterial_Event]
GO
ALTER TABLE [dbo].[EventDocument]  WITH CHECK ADD  CONSTRAINT [FK_EventMaterial_Material] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Document] ([DocumentId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[EventDocument] CHECK CONSTRAINT [FK_EventMaterial_Material]
GO
ALTER TABLE [dbo].[Сandidate]  WITH CHECK ADD  CONSTRAINT [FK_Сandidate_Position] FOREIGN KEY([DesiredPosition])
REFERENCES [dbo].[Position] ([PositionId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Сandidate] CHECK CONSTRAINT [FK_Сandidate_Position]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [CK_Material_Status] CHECK  (([Status]='Архивный' OR [Status]='Не архивный'))
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [CK_Material_Status]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [CK_Event_Status] CHECK  (([Status]='Запланированно' OR [Status]='Подтверждено' OR [Status]='Перенесено' OR [Status]='Отменено'))
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [CK_Event_Status]
GO
/****** Object:  Trigger [dbo].[trAddParentDepartment]    Script Date: 04.01.2025 19:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trAddParentDepartment]
   ON  [dbo].[Department]
   AFTER INSERT, UPDATE
AS 
BEGIN
  UPDATE Department
  SET ParentDepartmentId=IIF(CHARINDEX('.', DepartmentId) = 0, 
          NULL, 
          LEFT(DepartmentId, LEN(DepartmentId)-CHARINDEX('.', REVERSE(DepartmentId))))
END
GO
ALTER TABLE [dbo].[Department] ENABLE TRIGGER [trAddParentDepartment]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Идентификатор строки' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkingCalendar', @level2type=N'COLUMN',@level2name=N'WorkingCalendarId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'День-исключение' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkingCalendar', @level2type=N'COLUMN',@level2name=N'ExceptionDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 - будний день, но законодательно принят выходным' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkingCalendar', @level2type=N'COLUMN',@level2name=N'IsWorkingDay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Список дней исключений в производственном календаре' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkingCalendar'
GO
